@import url('https://fonts.googleapis.com/css?family=Dancing+Script:regular,bold,italic&subset=latin,latin-ext');
header h1 {
    text-align: center;
    font-family: 'Dancing Script', serif;
    font-size: 70px;
    font-weight: 600;
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdc830, #f37335); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdc830, #f37335);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px;
  }
  
  .button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
    }
  }





/* Change navbar styling on scroll */
.navbar {
    color: white;
    text-decoration-color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    background: #000000;
    box-shadow: 1px 2px 10px rgba(222, 0, 0, 0.5);
}
table, th, td {
    margin: 10px auto;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
th, td {
    width:30px;
    height: 10px;
    text-align: center;
    padding: 10px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: #96D4D4;
}
.btn{
    padding-top: 30px;
}
.Table{
    padding : 20px;

    background-color: white;
    width: 100%;
   
}

@media (min-width: 768px) {
    /* Button styles for larger screens */
    .button-52 {
        padding: 13px 50px 13px;
    }
    
    /* Table styles for larger screens */
}